<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <style>
			#page_table{
				margin-top: 10px;
				margin-right: 20px;
			}
	  </style>
	<body th:fragment="page">
		<div class="row" th:if="${page != null}">
			<div class="col-sm-5">
				<div class="dataTables_info" id="data-table-default_info" role="status" aria-live="polite">
					<span th:text="${'共计 ' + page.totalCount + ' 条记录，' + '当前第 ' + page.currentPage + '/' + page.pageCount + ' 页'}"></span>
				</div>
			</div>
			<div class="col-sm-7">
				<ul class="pagination">
					<li th:if="${page.startIndex eq 0}" class="page-item disabled">
						<a href="javascript:;" class="page-link">
							<i class="fas fa-angle-double-left"></i>
						</a>
					</li>
					<li th:if="${page.startIndex ne 0}" class="page-item">
						<a href="javascript:;" th:onclick="'changeRecord(\'0\')'" class="page-link">
							<i class="fas fa-angle-double-left"></i>
						</a>
					</li>
					<li th:if="${page.startIndex eq 0}" class="page-item disabled">
						<a href="javascript:;" class="page-link">
							<i class="fas fa-angle-left"></i>
						</a>
					</li>
					<li th:if="${page.startIndex ne 0}" class="page-item">
						<a href="javascript:;" th:onclick="'changeRecord(\'' + ${page.previousIndex} + '\')'" class="page-link">
							<i class="fas fa-angle-left"></i>
						</a>
					</li>
					<li th:if="${page.nextIndex eq page.startIndex}" class="page-item disabled">
						<a href="javascript:;" class="page-link">
							<i class="fas fa-angle-right"></i>
						</a>
					</li>
					<li th:if="${page.nextIndex ne page.startIndex}" class="page-item">
						<a href="javascript:;" th:onclick="'changeRecord(\'' + ${page.nextIndex} + '\')'" class="page-link">
							<i class="fas fa-angle-right"></i>
						</a>
					</li>
					<li th:if="${page.lastIndex eq page.startIndex}" class="page-item disabled">
						<a href="javascript:;" class="page-link">
							<i class="fas fa-angle-double-right"></i>
						</a>
					</li>
					<li th:if="${page.lastIndex ne page.startIndex or page.lastIndex gt page.startIndex}" class="page-item">
						<a href="javascript:;" th:onclick="'changeRecord(\'' + ${page.lastIndex} + '\')'" class="page-link">
							<i class="fas fa-angle-double-right"></i>
						</a>
					</li>
					<li class="page-item">
						<input id="page" class="form-control pageText" style="height: 30px;margin: 1px 0px 0px 4px;width: 60px;" th:value="${page.currentPage}" />
					</li>
					<li class="page-item">
						<input type="hidden" name="startIndex" id="startIndex" value="0">
	     				<input type="hidden" name="lastIndex" id="lastIndex" th:value='${page.lastIndex}'>
						<a href="javascript:;" th:onclick="'gopage(\'' + ${page.lastIndex} + '\')'" class="page-link">
							<i class="fas fa-search"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			function changeRecord(num){
				$("#startIndex").val(num);
				query();
			}
		     function gopage(lastnum){
		    	 var page = $("#page").val();
		    	 var num = parseInt(page * 10) - parseInt(10);
		    	 if (num > lastnum) {
		    		 num = lastnum;
		 		 }
		    	 if(num < 0){
		    		 num = 0;
		    	 }
		    	 $("#startIndex").val(num);
		    	 query();
		     }
		     function query(){
		    	 $("#page").parents("form").submit();
		     }
		</script>
	</body>
</html>