<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="left (page,menu)">
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav" style="padding-top: 2px;">
					<li th:class="${page=='employee'} ? 'has-sub active' : 'has-sub'" class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="ion-ios-people bg-blue"></i>
							<span>用户管理</span>
						</a>
						<ul class="sub-menu">
							<li th:class="${menu=='employee' ? 'active' : ''}"><a th:href="@{/employee/query}">用户信息</a></li>
							<li th:class="${menu=='role' ? 'active' : ''}"><a th:href="@{/role/query}">角色信息</a></li>
						</ul>
					</li>
					<!-- 
					<li class="has-sub">
						<a href="javascript:;">
							<span class="badge pull-right">10</span>
							<i class="ion-ios-mail"></i> 
							<span>Email</span>
						</a>
						<ul class="sub-menu">
							<li><a href="email_inbox.html">Inbox</a></li>
							<li><a href="email_compose.html">Compose</a></li>
							<li><a href="email_detail.html">Detail</a></li>
						</ul>
					</li> -->
					<li th:class="${page=='project'} ? 'has-sub active' : 'has-sub'" class="has-sub">
						<a href="#">
							<b class="caret"></b>
							<i class="ion-ios-apps bg-blue"></i>
							<span>项目管理</span> 
						</a>
						<ul class="sub-menu">
							<li th:class="${menu=='project' ? 'active' : ''}"><a th:href="@{/project/query}">项目信息</a></li>
							<!-- <li th:class="${menu=='upgrad' ? 'active' : ''}"><a th:href="@{/upgrade/query}">技术支持</a></li> -->
						</ul>
					</li>
					
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-back"></i> <span></span></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
	</body>
</html>	