<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="left (page,menu)">
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav" style="padding-top: 2px;">
					<li
					 th:if="${#strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_INSERT')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_UPDATE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_DELETE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_INSERT')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_UPDATE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_DELETE')
					 }"
					 th:class="${page=='employee'} ? 'has-sub active' : 'has-sub'" class="has-sub">
						<a href="javascript:;">
							<b class="caret"></b>
							<i class="ion-ios-people bg-blue"></i>
							<span>用户管理</span>
						</a>
						<ul class="sub-menu">
							<li
							 th:if="${#strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_INSERT')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_UPDATE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'USER_DELETE')}"
							 th:class="${menu=='employee' ? 'active' : ''}"><a th:href="@{/employee/query}">用户信息</a></li>
							<li
							 th:if="${#strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_INSERT')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_UPDATE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'ROLES_DELETE')}"
							 th:class="${menu=='role' ? 'active' : ''}"><a th:href="@{/role/query}">角色信息</a></li>
						</ul>
					</li>
					<li
					 th:if="${#strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_INSERT')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_UPDATE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_DELETE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_FILE_QUERY')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_FILE_DELETE')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_FILE_UPLOAD')
					 || #strings.contains(session.SPRING_SECURITY_CONTEXT.authentication.principal.role.grantedAuthority,'PROJECT_FILE_DOWNLOAD')
					 }"
					 th:class="${page=='project'} ? 'has-sub active' : 'has-sub'" class="has-sub">
						<a href="#">
							<b class="caret"></b>
							<i class="ion-ios-apps bg-blue"></i>
							<span>项目管理</span> 
						</a>
						<ul class="sub-menu">
							<li th:class="${menu=='project' ? 'active' : ''}"><a th:href="@{/project/query}">项目信息</a></li>
							<!-- <li th:class="${menu=='upgrad' ? 'active' : ''}"><a th:href="@{/upgrade/query}">技术支持</a></li> -->
						</ul>
					</li>
					
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-back"></i> <span></span></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
	</body>
</html>	