<!DOCTYPE html>
<!--[if IE 8]> 
<html lang="cn" class="ie8"
 xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
<![endif]-->
<!--[if !IE]><!-->
<html lang="cn" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>项目信息管理平台</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/font-awesome/css/all.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/animate/animate.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/style.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/style-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<link th:href="@{/assets/plugins/jstree/dist/themes/default/style.min.css}" rel="stylesheet" />
	
	
	<link th:href="@{/assets/plugins/gritter/css/jquery.gritter.css}" rel="stylesheet" />
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link th:href="@{/assets/plugins/parsley/src/parsley.css}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/assets/plugins/pace/pace.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript" th:src="@{/javascript/custom/bugbycode.js}"></script>
	<style>
		#page_table{
			margin-top: 10px;
			margin-right: 20px;
		}
   </style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:include="pages/layout/head :: head"></div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<!-- 左侧菜单 -->
		<div th:include="pages/layout/left :: left('project','project')"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item">项目管理</li>
				<li class="breadcrumb-item">
					<a data-toggle="ajax" th:href="@{/project/query}">项目信息</a>
				</li>
				<li class="breadcrumb-item active">
					项目维护
				</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">&nbsp;<small></small></h1>
			<!-- end page-header -->
			
			<div class="row">
				<div class="col-lg-3">
					<!-- begin panel -->
					<div class="panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								
							</div>
							<h4 class="panel-title">项目信息</h4>
						</div>
						<div class="panel panel-body overflow-auto">
							<div class="projectTree"></div>
						</div>
					</div>
					<!-- end panel -->
				</div>
				<div class="col-lg-9">
					<!-- begin panel -->
					<div class="panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								
							</div>
							<h4 class="panel-title">文档信息</h4>
						</div>
						<div class="panel panel-body">
							<form id="documenForm" autocomplete="off">
							<input type="hidden" id="docProjectId" value="">
							<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
								<div class="row">
									<div class="col-sm-12 p-l-0 p-r-0">
										<div class="dataTables_filter">
											<label>
												<i onclick="query()" class="ion-ios-search fa-2x fa-fw pull-right m-r-0 text-black-lighter hand"></i>
												<input type="text" name="paramQuery" value="" class="form-control input-sm pull-right width-250" placeholder="匹配文件名称、备注以及MD5值" aria-controls="data-table-default">
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 table-responsive p-l-0 p-r-0">
										<table style="table-layout:fixed;" id="data-table-default-file" class="table table-striped table-bordered dataTable no-footer dtr-inline table-hover">
											<thead>
												<tr>
													<th class="text-nowrap width-200">文件名称</th>
													<th class="text-nowrap">所属项目</th>
													<th class="text-nowrap">MD5签名</th>
													<th class="text-nowrap">上传时间</th>
													<th class="text-ellipsis width-60">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr class="gradeA odd" th:if="${#lists.isEmpty(list)}">
													<td colspan="5" style="text-align: center;">没有查询到匹配的信息</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 p-l-0 p-r-0">
										<div class="memoPage"></div>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
					<!-- end panel -->
				</div>
			</div>
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- #modal-dialog -->
	<div class="modal fade" id="project-add-modal-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">添加项目</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<form id="addForm" th:action="@{/project/insert}" data-parsley-validate="true" th:object="${p}" method="post" autocomplete="off">
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">项目名称 <span class="text-danger">*</span></label>
							<div class="col-md-9">
								<input type="hidden" name="id" value="0"/>
								<input type="hidden" name="parentId" value="0"/>
								<input type="text" name="name" th:value="*{name}" class="form-control m-b-5" 
									placeholder="请输入项目名称"  data-parsley-required="true" data-parsley-required-message="请输入项目名称" 
									data-parsley-length="[2,20]" data-parsley-length-message="项目名称长度不能少于两个字符且不能超过二十个字符"
									/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">关闭</a>
					<a href="javascript:;" class="btn btn-primary addForm">提交</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- #modal-dialog -->
	<div class="modal fade" id="project-file-up-modal-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">上传文件</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<form id="addFileForm" th:action="@{/projectMemo/upFile}" enctype="multipart/form-data" data-parsley-validate="true" method="post" autocomplete="off">
						<input type="hidden" name="projectId"/>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">文件 <span class="text-danger">*</span></label>
							<div class="col-md-9">
								<input type="file" name="file" class="form-control m-b-5" 
									placeholder="请选择文件"  data-parsley-required="true" data-parsley-required-message="请选择文件" 
									/>
							</div>
						</div>
						<div class="form-group row m-b-15">
							<label class="col-form-label col-md-3">备注信息</label>
							<div class="col-md-9">
								<textarea name="description" rows="3" class="form-control" style="resize:none" placeholder="请输入备注信息"
									data-parsley-maxlength="300" data-parsley-maxlength-message="备注信息不能超过三百个字符"
								></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">关闭</a>
					<a href="javascript:;" class="btn btn-primary addFileForm">提交</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- #modal-dialog -->
	<div class="modal fade" id="project-info-modal-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">详细信息</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="form-group row m-b-15">
						<label class="col-form-label col-md-3">文件 <span class="text-danger">*</span></label>
						<div class="col-md-9">
							<input type="text" id="fileName" readonly="readonly" class="form-control m-b-5"/>
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-form-label col-md-3">MD5签名 <span class="text-danger">*</span></label>
						<div class="col-md-9">
							<input type="text" id="md5Sign" readonly="readonly" class="form-control m-b-5"/>
						</div>
					</div>
					<div class="form-group row m-b-15">
						<label class="col-form-label col-md-3">备注信息</label>
						<div class="col-md-9">
							<textarea id="description" readonly="readonly" rows="6" class="form-control" style="resize:none"
							></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-white" data-dismiss="modal">关闭</a>
				</div>
			</div>
		</div>
	</div>
	
	<form id="delForm" th:action="@{/project/delete}" method="post">
		<input type="hidden" name="id" value=""/>
	</form>
	
	<form id="deletePmForm" th:action="@{/projectMemo/delete}" method="post">
		<input type="hidden" name="id" value=""/>
	</form>
	
	<div class="modal fade" id="process-modal-dialog">
		<div id="processChart" style="margin-left: 30%;display:block;width:500px;height:500px;"></div>
	</div>
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{/assets/crossbrowserjs/html5shiv.js}"></script>
		<script th:src="@{/assets/crossbrowserjs/respond.min.js}"></script>
		<script th:src="@{/assets/crossbrowserjs/excanvas.min.js}"></script>
	<![endif]-->
	<script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/assets/plugins/js-cookie/js.cookie.js}"></script>
	<script th:src="@{/assets/js/theme/apple.min.js}"></script>
	<script th:src="@{/assets/js/apps.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	<script th:src="@{/assets/plugins/jstree/dist/jstree.min.js}"></script>
	<script th:src="@{/assets/plugins/parsley/dist/parsley.js}"></script>
	
	<!-- 模态框  BEGIN-->
	<script th:src="@{/assets/plugins/gritter/js/jquery.gritter.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-sweetalert/sweetalert.min.js}"></script>
	<!-- 模态框  END-->
	
	<!-- echarts -->
	<script th:src="@{/javascript/echarts/dist/echarts.min.js}"></script>
	<!-- echarts END -->
	
	<script type="text/javascript" th:inline="javascript">
		var _csrf = [[${_csrf.token}]];
		var authorities = [[${session.SPRING_SECURITY_CONTEXT.authentication.authorities}]];
		var rootPath = [[@{/}]];
		var idReg = /^[0-9]*$/;
		//console.log(JSON.stringify(authorities));
		
		function showMessage(message){
			window.event.preventDefault();
			swal({
				title: message,
				text: '',
				icon: 'warning',
				buttons: {
					confirm: {
						text: '确定',
						value: true,
						visible: true,
						className: 'btn btn-warning',
						closeModal: true
					}
				}
			})
		}
		
		function checkRole(role){
			for(var index = 0;index < authorities.length;index++){
				if(role == authorities[index].authority){
					return true;
				}
			}
			return false;
		}
		
		function downFile(id){
			if(checkRole('ROLE_PROJECT_FILE_DOWNLOAD')){
				location.href= rootPath + 'projectMemo/download?id=' + id;
			}else{
				showMessage('您无权访问该功能！');
			}
		}
		
		function deletePm(id){
			if(checkRole('ROLE_PROJECT_FILE_DELETE')){
				window.event.preventDefault();
				 swal({
					title: '您确定删除该文档吗？',
					text: '您执行该操作后文档信息会被永久删除，是否继续？',
					icon: 'warning',
					buttons: {
						cancel: {
							text: '取消',
							value: false,
							visible: true,
							className: 'btn btn-default',
							closeModal: true,
						},
						confirm: {
							text: '确定',
							value: true,
							visible: true,
							className: 'btn btn-warning',
							closeModal: true
						}
					}
				 }).then(function(value){
					if(value == true){
						$("#deletePmForm").find("input[name='id']").val(id);
						$("#deletePmForm").submit();
					}
				 });
			}else{
				showMessage('您无权访问该功能！');
			}
		}
		
		function showInfo(id){
			if(checkRole('ROLE_PROJECT_FILE_DOWNLOAD')){
				$.ajax({
					url:rootPath + 'projectMemo/queryById',
					type:'get',
					data:"id=" + id,
					dataType:'json',
					cache:false,
					success:function(result){
						//console.log(JSON.stringify(result));
						if(result){
							$("#project-info-modal-dialog").modal("show");
							$("#project-info-modal-dialog").find("input[id='fileName']").val(result.fileName);
							$("#project-info-modal-dialog").find("input[id='md5Sign']").val(result.md5Sign);
							$("#project-info-modal-dialog").find("textarea[id='description']").text(result.description);
						}
					}
				});
			}else{
				showMessage('您无权访问该功能！');
			}
		}
		
		//分页
		function changeRecord(num){
			$("#startIndex").val(num);
			query();
		}
	    function gopage(lastnum){
	    	var page = $("#page").val();
	    	var num = parseInt(page * 10) - parseInt(10);
	    	if (num > lastnum) {
	    		num = lastnum;
	 		}
	    	if(num < 0){
	    		num = 0;
	    	}
	    	$("#startIndex").val(num);
	    	query();
	    }
	    function query(){
	    	//$("#page").parents("form").submit();
	    	showFileList($("#docProjectId").val(),$("input[name='paramQuery']").val(),$("#startIndex").val());
	    }
	    
	    $("input[name='paramQuery']").keypress(function(event){
			if(event.keyCode == 13){
				query();
			}
		});
		
		function showFileList(id,keyword,startIndex){
			$.ajax({
		    	url:rootPath + 'projectMemo/queryByProjectId',
		    	data:"projectId=" + id + "&paramQuery=" + keyword + "&startIndex=" + startIndex,
		    	dataType:"json",
		    	cache:false,
		    	success:function(data){
		    		var result = data.list;
		    		var page = data.page;
		    		
		    		var pageStr = "";
		    		if(page){
		    			pageStr += "<div class=\"row\"><div class=\"col-sm-5\">";
		    			pageStr += "<div class=\"dataTables_info\" id=\"data-table-default_info\" role=\"status\" aria-live=\"polite\">";
		    			pageStr += "<span>共计 " + page.totalCount + " 条记录，" + "当前第 " + page.currentPage + "/" + page.pageCount + " 页</span>";
		    			pageStr += "</div></div>";
		    			
		    			pageStr += "<div class=\"col-sm-7\"><ul class=\"pagination\">";
		    			
		    			if(page.startIndex == 0){
		    				pageStr += "<li class=\"page-item disabled\">";
		    				pageStr += "	<a href=\"javascript:;\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-double-left\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			if(page.startIndex > 0){
		    				pageStr += "<li class=\"page-item\">";
		    				pageStr += "	<a href=\"javascript:;\" onclick=\"changeRecord(\'0\')\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-double-left\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			if(page.startIndex == 0){
		    				pageStr += "<li class=\"page-item disabled\">";
		    				pageStr += "	<a href=\"javascript:;\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-left\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			if(page.startIndex > 0){
		    				pageStr += "<li class=\"page-item\">";
		    				pageStr += "	<a href=\"javascript:;\" onclick=\"changeRecord(\'" + page.previousIndex + "\')\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-left\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			if(page.nextIndex == page.startIndex){
		    				pageStr += "<li class=\"page-item disabled\">";
		    				pageStr += "	<a href=\"javascript:;\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-right\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			if(page.nextIndex != page.startIndex){
		    				pageStr += "<li class=\"page-item\">";
		    				pageStr += "	<a href=\"javascript:;\" onclick=\"changeRecord(\'" + page.nextIndex + "\')\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-right\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			if(page.lastIndex == page.startIndex){
		    				pageStr += "<li class=\"page-item disabled\">";
		    				pageStr += "	<a href=\"javascript:;\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-double-right\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			if(page.lastIndex != page.startIndex || page.lastIndex > page.startIndex){
		    				pageStr += "<li class=\"page-item\">";
		    				pageStr += "	<a href=\"javascript:;\" onclick=\"changeRecord(\'" + page.lastIndex + "\')\" class=\"page-link\">";
		    				pageStr += "		<i class=\"fas fa-angle-double-right\"></i>";
		    				pageStr += "	</a>";
		    				pageStr += "</li>";
		    			}
		    			
		    			pageStr += "<li class=\"page-item\">";
		    			pageStr += "	<input id=\"page\" class=\"form-control pageText\" style=\"height: 30px;margin: 1px 0px 0px 4px;width: 60px;\" th:value=\"" + page.currentPage + "\" />";
		    			pageStr += "</li>";
		    			pageStr += "<li class=\"page-item\">";
		    			pageStr += "	<input type=\"hidden\" name=\"startIndex\" id=\"startIndex\" value=\"0\">";
		    			pageStr += "	<input type=\"hidden\" name=\"lastIndex\" id=\"lastIndex\" value=\"" + page.lastIndex + "\">";
		    			pageStr += "	<a href=\"javascript:;\" onclick=\"gopage(\'" + page.lastIndex + "\')\" class=\"page-link\">";
		    			pageStr += "		<i class=\"fas fa-search\"></i>";
		    			pageStr += "	</a>";
		    			pageStr += "</li>";
		    			
		    			pageStr += "</ul></div>";
		    			pageStr += "</div>";
		    		}
		    		
		    		$(".memoPage").html(pageStr);
		    		
		    		if(result.length > 0){
		    			$("#data-table-default-file").find("tbody").find("tr").eq(0).hide();
		    		}else{
		    			$("#data-table-default-file").find("tbody").find("tr").eq(0).show();
		    		}
		    		$("#data-table-default-file").find("tbody").find("tr").eq(0).nextAll().remove();
		    		var htmlStr = "";
		    		$(result).each(function(index,item){
		    			htmlStr += "<tr class=\"odd gradeA\">";
		    			htmlStr += "<td class=\"text-ellipsis\"><a href=\"javascript:void(0);\" onclick=\"javascript:downFile(\'" + item.id + "\')\">" + item.fileName + '</a></td>';
		    			htmlStr += "<td class=\"text-ellipsis\">" + item.projectName + '</td>';
		    			htmlStr += "<td class=\"text-ellipsis\">" + item.md5Sign + '</td>';
		    			htmlStr += "<td class=\"text-ellipsis\">" + item.createTime + '</td>';
		    			htmlStr += "<td class=\"text-ellipsis\">";
		    			htmlStr += "<a href=\"javascript:void(0);\" class=\"btn btn-xs btn-icon btn-circle btn-default\" onclick=\"javascript:showInfo(\'" + item.id + "\')\"><i class=\"fa fa-eye\"></i></a>";
		    			htmlStr += "<a href=\"javascript:void(0);\" class=\"btn btn-xs btn-icon btn-circle btn-default m-l-2\" onclick=\"javascript:deletePm(\'" + item.id + "\')\"><i class=\"fa fa-trash\"></i></a>";
		    			htmlStr += "</td>";
		    			htmlStr += "</tr>";
		    		});
		    		$("#data-table-default-file").find("tbody").append(htmlStr);
		    		//console.log(JSON.stringify(result));
		    	},error: function (XMLHttpRequest, textStatus, errorThrown) {
		    		$("#data-table-default-file").find("tbody").find("tr").eq(0).show();
		    		$("#data-table-default-file").find("tbody").find("tr").eq(0).nextAll().remove();
                    /*
		    		// 状态码
                    console.log(XMLHttpRequest.status);
                    // 状态
                    console.log(XMLHttpRequest.readyState);
                    // 错误信息   
                    console.log(textStatus);*/
                }
		    });
		}
		
		
		$(".projectTree").jstree({
			"core": {
				"themes": {
					"responsive": false
				}, 
				"check_callback": true,
				'data': /*[{
					id:1,
					"text": "项目管理中心",
					"children": [
						{
							id:2,
							text:"堡垒主机"
						},{
							id:3,
							text:"日志审计"
						}
					]
				}
			]*/
			function (obj,callback){
				 $.ajax({
                      type: "GET",
                      url: rootPath + "project/projectTree",
                      dataType:"json",
                      async: false,
                      cache: false,
                      success:function(result) {
                    	  callback.call(this, result);
                      }

                  });
			}
			
			},
			"types": {
				"default": {
					"icon": "fa fa-folder text-primary fa-lg"
				},
				"file": {
					"icon": "fa fa-file text-success fa-lg"
				}
			},
			"state": { "key": "demo2" },
			"plugins": [ "contextmenu", "state", "types" ,"changed"],
			"contextmenu":{
				"items": {
				    "create":{
				    	 "label": "添加项目",
				    	 "action": function(data){
				    		 if(checkRole('ROLE_PROJECT_INSERT')){
				    			 var inst = jQuery.jstree.reference(data.reference);
					    	     var obj = inst.get_node(data.reference);
					    	     var id = obj.id;
					    	     if(!idReg.test(id)){
					    	    	 id = 0;
					    	     }
					    	     $("#addForm").attr("action",rootPath + 'project/insert');
					    	     $("#addForm").find("input[name='name']").val("");
					    	     $("#addForm").find("input[name='name']").removeClass("parsley-error");
					    	     $("#addForm").find(".parsley-errors-list").removeClass("filled");
					    	     $("#addForm").find("input[name='parentId']").val(id);
					    	     $("#project-add-modal-dialog").find(".modal-title").text("添加项目");
					    	     $("#project-add-modal-dialog").modal("show");
				    		 }else{
				    			 showMessage('您无权访问该功能！');
				    		 }
				    	 }
				     },"rename":{
				    	 "label": "修改名称",
				    	 "action": function(data){
				    		 if(checkRole('ROLE_PROJECT_UPDATE')){
				    			 var inst = jQuery.jstree.reference(data.reference);
					    	     var obj = inst.get_node(data.reference);
					    	     var id = obj.id;
					    	     if(!idReg.test(id)){
					    	    	 id = 0;
					    	     }
					    	     if(id == 0){
					    	    	 showMessage("不允许修改内置节点！");
					    	     }else{
					    	    	 $("#addForm").attr("action",rootPath + 'project/update');
						    	     $("#addForm").find("input[name='name']").removeClass("parsley-error");
						    	     $("#addForm").find(".parsley-errors-list").removeClass("filled");
						    	     $("#addForm").find("input[name='name']").val(obj.text);
						    	     $("#addForm").find("input[name='id']").val(id);
						    	     $("#project-add-modal-dialog").find(".modal-title").text("修改名称");
						    	     $("#project-add-modal-dialog").modal("show");
					    	     }
				    		 }else{
				    			 showMessage('您无权访问该功能！');
				    		 }
				    	 }
				     },"delete":{
				    	 "label": "删除项目",
						 "action": function(data){
							 if(checkRole('ROLE_PROJECT_DELETE')){
								 var inst = $.jstree.reference(data.reference),
									obj = inst.get_node(data.reference);
								 var id = obj.id;
					    	     if(!idReg.test(id)){
					    	    	 id = 0;
					    	     }
					    	     if(id == 0){
					    	    	 showMessage("不允许删除内置节点！");
					    	     }else{
					    	    	 $.ajax({
					    	    		 url:rootPath + 'project/checkDel',
					    	    		 data:'id=' + id,
					    	    		 dataType:"json",
					    	    		 cache:false,
					    	    		 success:function(result){
					    	    			 var code = result.code;
					    	    			 if(code == 2){
					    	    				 showMessage("请先删除子项目！");
					    	    			 }else{
					    	    				 window.event.preventDefault();
				    	    					 swal({
				    	    						title: '您确定删除该项目吗？',
				    	    						text: '您执行该操作后项目信息会被永久删除，是否继续？',
				    	    						icon: 'warning',
				    	    						buttons: {
				    	    							cancel: {
				    	    								text: '取消',
				    	    								value: false,
				    	    								visible: true,
				    	    								className: 'btn btn-default',
				    	    								closeModal: true,
				    	    							},
				    	    							confirm: {
				    	    								text: '确定',
				    	    								value: true,
				    	    								visible: true,
				    	    								className: 'btn btn-warning',
				    	    								closeModal: true
				    	    							}
				    	    						}
				    	    					 }).then(function(value){
				    	    						if(value == true){
				    	    							$("#delForm").find("input[name='id']").val(id);
										    	    	 $("#delForm").submit();
				    	    						}
				    	    					 });
					    	    			 }
					    	    		 }
					    	    	 });
					    	    	 /*if(inst.is_selected(obj)) {
										inst.delete_node(inst.get_selected());
									 } else {
										inst.delete_node(obj);
									 }*/
					    	     }
							 }else{
								 showMessage('您无权访问该功能！');
							 }
				    	 }
				     },"upFile":{
				    	 "label":"上传文件",
				    	 "action":function(data){
				    		 if(checkRole('ROLE_PROJECT_FILE_UPLOAD')){
				    			 var inst = $.jstree.reference(data.reference),
									obj = inst.get_node(data.reference);
								 var id = obj.id;
					    	     if(!idReg.test(id)){
					    	    	 id = 0;
					    	     }
					    		 $("#addFileForm").find("input[name='projectId']").val(id);
					    		 $("#project-file-up-modal-dialog").modal("show");
				    		 }else{
								 showMessage('您无权访问该功能！');
							 }
				    	 }
				     }
				}
			}
		}).bind("activate_node.jstree", function (data, e) {
		    // 处理代码
		    // 获取当前节点
		    var currentNode = e.node;
		    var id = currentNode.id;
		    if(!idReg.test(id)){
	   	    	id = 0;
	   	    }
		    $("#docProjectId").val(id);
		    $("input[name='paramQuery']").val('');
		    showFileList(id,'',0);
		});;
		
		$(".addForm").click(function(e){
			var action = $("#addForm").attr("action");
			var id = $("#addForm").find("input[name='id']").val();
			if(action.indexOf("/update") != -1 && id == 0){
				showMessage("不允许修改内置节点！");
			}else{
				$("#addForm").submit();
			}
		});
		
		$(".addFileForm").click(function(){
			var check = $("#addFileForm").parsley().validate();
			if(!check){
				return false;
			}
			//$("#addFileForm").submit();
			$("#project-file-up-modal-dialog").modal("hide");
			/*var fileObj = $("#addFileForm").find("input[name='file']").get(0).files[0];
			var projectId = $("#addFileForm").find("input[name='projectId']").val();
			var description = $("#addFileForm").find("input[name='description']").text();*/
			var upForm = new FormData($("#addFileForm").get(0));
			/*if(upForm){
				return false;
			}*/
			/*upForm.append('file', fileObj);
			upForm.append('_csrf',_csrf);
			upForm.append('projectId', projectId);
			upForm.append('description', description);*/
			// XMLHttpRequest 对象
	        var xhr = new XMLHttpRequest();
	        //true为异步处理
	        xhr.open('post', $("#addFileForm").attr("action"), true);
	        
	        xhr.onloadstart = function() {
	             console.log('开始上传')
	             ot = new Date().getTime();   //设置上传开始时间
	             oloaded = 0;//已上传的文件大小为0
	     		 var option = chartApp.option;
	             option.series[0].data = [];
	             $("#process-modal-dialog").modal("show");
	        };
	        
	        xhr.upload.addEventListener('progress', progressFunction, false);
	        xhr.addEventListener("load", uploadComplete, false);
	        xhr.addEventListener("error", uploadFailed, false);
	        xhr.addEventListener("abort", uploadCanceled, false);
	        xhr.send(upForm);
		});
		
		$(document).ready(function(){
			var projectId = [[${session.defaultProjectId}]];
			if(projectId == null || projectId == 'null'){
				projectId = 0;
			}
			$("#docProjectId").val(projectId);
		    $("input[name='paramQuery']").val('');
			showFileList(projectId,'',0);
		});
		
		function showProcess(){
			 var app = echarts.init(document.getElementById('processChart'));
			 var option = {
			    series: [
			        {
			            type:'pie',
			            radius: ['48%', '50%'],
			            avoidLabelOverlap: false,
			            hoverAnimation:false,
			            animation: false,
			            labelLine: {
			                normal: {
			                    show: false
			                }
			            },
			            data:[]
			        }
			    ]
			};
			app.setOption(option);
			var result = {app:app,option:option};
			return result;
		}
		
		var oloaded = 0;
		var ot = 0;
		var chartApp = showProcess();
		function progressFunction(evt){
			if (evt.lengthComputable) {
                var completePercent = Math.round(evt.loaded / evt.total * 100);
                
                var nt = new Date().getTime();     //获取当前时间
                var pertime = (nt-ot)/1000;        //计算出上次调用该方法时到现在的时间差，单位为s
                ot = new Date().getTime();          //重新赋值时间，用于下次计算
                
                var perload = evt.loaded - oloaded; //计算该分段上传的文件大小，单位b       
                oloaded = evt.loaded;               //重新赋值已上传文件大小
            
                //上传速度计算
                var speed = perload/pertime;//单位b/s
                var bspeed = speed;
                var units = 'b/s';//单位名称
                if(speed/1024>1){
                    speed = speed/1024;
                    units = 'k/s';
                }
                if(speed/1024>1){
                    speed = speed/1024;
                    units = 'M/s';
                }
                speed = speed.toFixed(1);
                
                var msg = '上传进度：' + completePercent + '%\n\n传输速度：' + speed + units;
                if(completePercent == 100){
                	msg += '\n\n文件上传完成，正在计算文件MD5值';
                }
                
                chartApp.option.series[0].data = [
                    {
                        value:completePercent, 
                        name:msg,
                        itemStyle:{
                          color:'#00FF00'  
                        },
                        label:{
                            normal:{
                                show:true,
                                position:'center',
                                color:'#ffffff'
                            }
                            
                        }
                    },{
                        value:100 - completePercent, 
                        itemStyle:{
                          color:'#ffffff'  
                        },
                        label:{
                            normal:{
                                show:false
                            }
                        }
                    }
    			];
                chartApp.app.setOption(chartApp.option);
                //console.log(completePercent + ' ' + speed + units);
            }
		}
		
		//上传成功后回调                                                                 
        function uploadComplete(evt) {
        	location.href= rootPath + "project/query";
        };

        //上传失败回调            
        function uploadFailed(evt) {
            //$("#process-modal-dialog").css('display',"none");
            console.log('上传失败' + evt.target.responseText);
            location.href= rootPath + "project/query";
        }

        //终止上传      
        function cancelUpload() {
            xhr.abort();
        }
        
        //上传取消后回调             
        function uploadCanceled(evt) {
            console.log('上传取消,上传被用户取消或者浏览器断开连接:' + evt.target.responseText);
        }
		
		function testUpFile(){
			var fileObj = $("#testFileObj").get(0).files[0];
			
			var upForm = new FormData();
			upForm.append('file', fileObj);
			upForm.append('_csrf',_csrf);
			// XMLHttpRequest 对象
	        var xhr = new XMLHttpRequest();
	        //true为异步处理
	        xhr.open('post', rootPath + 'projectMemo/testUpFile', true);
	        
	        xhr.onloadstart = function() {
	             console.log('开始上传')
	             ot = new Date().getTime();   //设置上传开始时间
	             oloaded = 0;//已上传的文件大小为0
	     		 var option = chartApp.option;
	             option.series[0].data = [];
	             $("#process-modal-dialog").modal("show");
	        };
	        
	        xhr.upload.addEventListener('progress', progressFunction, false);
	        xhr.addEventListener("load", uploadComplete, false);
	        xhr.addEventListener("error", uploadFailed, false);
	        xhr.addEventListener("abort", uploadCanceled, false);
	        xhr.send(upForm);
			//$("#process-modal-dialog").modal("show");
		}
		
		/*
		var number = 0;
		var number2 = 100;
		var chartApp = showProcess();
		var app = chartApp.app;
		var option = chartApp.option;
		var lin = setInterval(() => {
			option.series[0].data = [
				{
                    value:--number2, 
                    itemStyle:{
                      color:'#ffffff'  
                    },
                    label:{
                        normal:{
                            show:false
                        }
                    }
                },
                {
                    value:++number, 
                    name:'上传进度：' + number + '%\n\n传输速度：' + '2MB/S',
                    itemStyle:{
                      color:'#00FF00'  
                    },
                    label:{
                        normal:{
                            show:true,
                            position:'center',
                            color:'#ffffff'
                        }
                        
                    }
                }
			];
			if(number2 >= 0){
				app.setOption(option);
			}
		}, 1000);*/
	</script>
</body>
</html>