<!DOCTYPE html>
<!--[if IE 8]> 
<html lang="cn" class="ie8"
 xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 
<![endif]-->
<!--[if !IE]><!-->
<html lang="cn" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>项目信息管理平台</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/font-awesome/css/all.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/animate/animate.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/style.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/style-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/css/apple/theme/default.css}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link th:href="@{/assets/plugins/parsley/src/parsley.css}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/password-indicator/css/password-indicator.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-tag-it/css/jquery.tagit.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css}" rel="stylesheet" />
	<link th:href="@{/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/assets/plugins/pace/pace.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery/jquery-3.3.1.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript" th:src="@{/javascript/custom/bugbycode.js}"></script>
	
	<style type="text/css">
		.checkboxRowHeight{
			height: 30px;
		}
		.checkboxSplitLine{
			height:1px;
			border:none;
			border-top:1px dashed #111111;
			border-top-color: #007aff;
		}
	</style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:include="pages/layout/head :: head"></div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<!-- 左侧菜单 -->
		<div th:include="pages/layout/left :: left('employee','role')"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div id="content" class="content">
			<form id="roleForm" data-parsley-validate="true" th:object="${r}" method="post" th:action="@{/} + *{id eq 0 ? 'role/insert' : 'role/update'}" autocomplete="off">
				<input type="hidden" th:field="*{id}" />
				<!-- begin breadcrumb -->
				<ol class="breadcrumb pull-right">
					<li class="breadcrumb-item">角色管理</li>
					<li class="breadcrumb-item">
						<a data-toggle="ajax" th:href="@{/role/query}">角色信息</a>
					</li>
					<li class="breadcrumb-item active" th:text="*{id > 0 ? '编辑角色' : '添加角色'}">
						查看角色
					</li>
				</ol>
				<!-- end breadcrumb -->
				<!-- begin page-header -->
				<h1 class="page-header">&nbsp;<small></small></h1>
				<!-- end page-header -->
				
				<!-- begin panel -->
				<div class="row">
					<div class="col-lg-6">
						<div class="panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">基本信息</h4>
							</div>
							<div class="panel panel-body">
								<div class="form-group row m-b-15">
									<label class="col-form-label col-md-3">角色名称 <span class="text-danger">*</span></label>
									<div class="col-md-9">
										<input type="text" name="name" th:value="*{name}" class="form-control m-b-5" 
											th:readonly="*{type eq 0 ? 'true' : 'false'}"
											placeholder="请输入角色名称"  data-parsley-required="true" data-parsley-required-message="请输入角色名称" 
											data-parsley-length="[2,20]" data-parsley-length-message="角色名称长度不能少于两个字符且不能超过十个字符"
											data-parsley-pattern="^[A-Za-z0-9\u4e00-\u9fa5]*" data-parsley-pattern-message="角色名称不能包含英文特殊字符"
											data-parsley-checkrolename data-parsley-checkrolename-message="该角色名已被使用"
											/>
									</div>
								</div>
								<div class="form-group row m-b-15">
									<label class="col-form-label col-md-3">描述信息</label>
									<div class="col-md-9">
										<textarea name="description" class="form-control" style="resize:none" th:readonly="*{type eq 0 ? 'true' : 'false'}" rows="6" th:text="*{description}" placeholder="请输入角色描述信息"
											data-parsley-maxlength="30" data-parsley-maxlength-message="角色描述信息不能超过三十个字符"
										></textarea>
									</div>
								</div>
								<div class="row form-group m-b-10">
									<label class="col-md-3 col-form-label"></label>
									<div class="col-md-9">
										<button type="submit" class="btn btn-sm btn-primary m-r-5" th:disabled="*{type eq 0 ? 'true' : 'false'}">提交</button>
										<button type="button" class="btn btn-sm btn-default m-r-5" th:onclick="'location.href=\'' + @{/} + 'role/query\';'">返回</button>
									</div>
								</div>
							</div>
						</div>
						<!-- 操作记录 -->
						<div class="panel-inverse" style="display: none;">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">操作记录</h4>
							</div>
							<div class="panel panel-body">
								<div class="form-group row m-b-10">
									<div class="col-md-5">
										<div class="checkbox checkbox-css">
											<input type="checkbox" value="" id="checkAllLogRole" 
												th:checked="*{#lists.contains(grantSet,'LOG_QUERY')}"
												 />
											<label th:for="*{type eq 1 ? 'checkAllLogRole' : ''}">操作记录</label>
										</div>
									</div>
									<div class="col-md-7">
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="LOG_QUERY" id="logQuery" th:checked="*{#lists.contains(grantSet,'LOG_QUERY')}" />
												<label  th:for="*{type eq 1 ? 'logQuery' : ''}">查看记录</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 操作记录END -->
					</div>
					<!-- 用户管理权限 -->
					<div class="col-lg-6">
						<div class="panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn" >
									
								</div>
								<h4 class="panel-title">用户管理</h4>
							</div>
							<div class="panel panel-body">
								<!-- 用户管理 -->
								<div class="form-group row m-b-10">
									<div class="col-md-5">
										<div class="checkbox checkbox-css">
											<input type="checkbox" value="" id="checkAllUserRole" 
												th:checked="*{#lists.contains(grantSet,'USER_QUERY') && #lists.contains(grantSet,'USER_INSERT') 
														&& #lists.contains(grantSet,'USER_UPDATE')
													  && #lists.contains(grantSet,'USER_DELETE')}"
												 />
											<label th:for="*{type eq 1 ? 'checkAllUserRole' : ''}">用户信息</label>
										</div>
									</div>
									<div class="col-md-7">
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="USER_QUERY" id="userQuery" th:checked="*{#lists.contains(grantSet,'USER_QUERY')}" />
												<label  th:for="*{type eq 1 ? 'userQuery' : ''}">查看用户</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="USER_INSERT" id="userInsert" th:checked="*{#lists.contains(grantSet,'USER_INSERT')}"/>
												<label  th:for="*{type eq 1 ? 'userInsert' : ''}">添加用户</label>
											</div>
										</div>
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="USER_UPDATE" id="userUpdate" th:checked="*{#lists.contains(grantSet,'USER_UPDATE')}"/>
												<label  th:for="*{type eq 1 ? 'userUpdate' : ''}">修改用户</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="USER_DELETE" id="userDelete" th:checked="*{#lists.contains(grantSet,'USER_DELETE')}"/>
												<label  th:for="*{type eq 1 ? 'userDelete' : ''}">删除用户</label>
											</div>
										</div>
									</div>
								</div>
								<div class="checkboxSplitLine"></div>
								<div class="form-group row m-b-10">
									<div class="col-md-5">
										<div class="checkbox checkbox-css">
											<input type="checkbox" value="" id="checkAllRoleRole" 
												th:checked="*{#lists.contains(grantSet,'ROLES_QUERY') && #lists.contains(grantSet,'ROLES_INSERT') 
														&& #lists.contains(grantSet,'ROLES_UPDATE')
													  && #lists.contains(grantSet,'ROLES_DELETE')}"
												 />
											<label th:for="*{type eq 1 ? 'checkAllRoleRole' : ''}">角色信息</label>
										</div>
									</div>
									<div class="col-md-7">
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="ROLES_QUERY" id="roleQuery" th:checked="*{#lists.contains(grantSet,'ROLES_QUERY')}" />
												<label  th:for="*{type eq 1 ? 'roleQuery' : ''}">查看角色</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="ROLES_INSERT" id="roleInsert" th:checked="*{#lists.contains(grantSet,'ROLES_INSERT')}"/>
												<label  th:for="*{type eq 1 ? 'roleInsert' : ''}">添加角色</label>
											</div>
										</div>
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="ROLES_UPDATE" id="roleUpdate" th:checked="*{#lists.contains(grantSet,'ROLES_UPDATE')}"/>
												<label  th:for="*{type eq 1 ? 'roleUpdate' : ''}">修改角色</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="ROLES_DELETE" id="roleDelete" th:checked="*{#lists.contains(grantSet,'ROLES_DELETE')}"/>
												<label  th:for="*{type eq 1 ? 'roleDelete' : ''}">删除角色</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 用户管理 END -->
						<!-- 项目管理 -->
						<div class="panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">项目管理</h4>
							</div>
							<div class="panel panel-body">
								<div class="form-group row m-b-10">
									<div class="col-md-5">
										<div class="checkbox checkbox-css">
											<input type="checkbox" value="" id="checkAllProjectRole" 
												th:checked="*{#lists.contains(grantSet,'PROJECT_QUERY') && #lists.contains(grantSet,'PROJECT_INSERT') 
														&& #lists.contains(grantSet,'PROJECT_UPDATE')
													  && #lists.contains(grantSet,'PROJECT_DELETE') && #lists.contains(grantSet,'PROJECT_FILE_QUERY')
													   && #lists.contains(grantSet,'PROJECT_FILE_DELETE')  && #lists.contains(grantSet,'PROJECT_FILE_UPLOAD')
													    && #lists.contains(grantSet,'PROJECT_FILE_DOWNLOAD')}"
												 />
											<label th:for="*{type eq 1 ? 'checkAllProjectRole' : ''}">项目信息</label>
										</div>
									</div>
									<div class="col-md-7">
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_QUERY" id="projectQuery" th:checked="*{#lists.contains(grantSet,'PROJECT_QUERY')}" />
												<label  th:for="*{type eq 1 ? 'projectQuery' : ''}">查看项目</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_INSERT" id="projectInsert" th:checked="*{#lists.contains(grantSet,'PROJECT_INSERT')}"/>
												<label  th:for="*{type eq 1 ? 'projectInsert' : ''}">添加项目</label>
											</div>
										</div>
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_UPDATE" id="projectUpdate" th:checked="*{#lists.contains(grantSet,'PROJECT_UPDATE')}"/>
												<label  th:for="*{type eq 1 ? 'projectUpdate' : ''}">修改名称</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_DELETE" id="projectDelete" th:checked="*{#lists.contains(grantSet,'PROJECT_DELETE')}"/>
												<label  th:for="*{type eq 1 ? 'projectDelete' : ''}">删除项目</label>
											</div>
										</div>
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_FILE_QUERY" id="projectFileQuery" th:checked="*{#lists.contains(grantSet,'PROJECT_FILE_QUERY')}"/>
												<label  th:for="*{type eq 1 ? 'projectFileQuery' : ''}">查看文档</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_FILE_DELETE" id="projectFileDelete" th:checked="*{#lists.contains(grantSet,'PROJECT_FILE_DELETE')}"/>
												<label  th:for="*{type eq 1 ? 'projectFileDelete' : ''}">删除文档</label>
											</div>
										</div>
										<div class="row checkboxRowHeight">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_FILE_UPLOAD" id="projectFileUpload" th:checked="*{#lists.contains(grantSet,'PROJECT_FILE_UPLOAD')}"/>
												<label  th:for="*{type eq 1 ? 'projectFileUpload' : ''}">上传文档</label>
											</div>
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="grantedAuthority" type="checkbox" value="PROJECT_FILE_DOWNLOAD" id="projectFileDownload" th:checked="*{#lists.contains(grantSet,'PROJECT_FILE_DOWNLOAD')}"/>
												<label  th:for="*{type eq 1 ? 'projectFileDownload' : ''}">下载文档</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 项目管理 END-->
					</div>
				</div>
			</form>
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!--[if lt IE 9]>
		<script th:src="@{/assets/crossbrowserjs/html5shiv.js}"></script>
		<script th:src="@{/assets/crossbrowserjs/userpond.min.js}"></script>
		<script th:src="@{/assets/crossbrowserjs/excanvas.min.js}"></script>
	<![endif]-->
	<script th:src="@{/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/assets/plugins/js-cookie/js.cookie.js}"></script>
	<script th:src="@{/assets/js/theme/apple.min.js}"></script>
	<script th:src="@{/assets/js/apps.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script th:src="@{/assets/plugins/parsley/dist/parsley.js}"></script>
	<script th:src="@{/assets/plugins/highlight/highlight.common.js}"></script>
	<script th:src="@{/assets/js/demo/render.highlight.js}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
	<script th:src="@{/assets/plugins/masked-input/masked-input.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"></script>
	<script th:src="@{/assets/plugins/password-indicator/js/password-indicator.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js}"></script>
	<script th:src="@{/assets/plugins/jquery-tag-it/js/tag-it.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-daterangepicker/moment.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<script th:src="@{/assets/plugins/select2/dist/js/select2.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-show-password/bootstrap-show-password.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js}"></script>
	<script th:src="@{/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js}"></script>
	<script th:src="@{/assets/plugins/clipboard/clipboard.min.js}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript" th:inline="javascript">
		var rootPath = [[@{/}]];
		var type = [[${r.type}]];
		window.Parsley.addValidator('checkrolename',{
			validateString:function(value){
				var flag = false;
				$.ajax({
					url:rootPath + 'role/checkRoleName',
					data:'roleName=' + value,
					dataType:'json',
					async:false,
					success:function(result){
						if(result.roleId == 0 || result.roleId == [[${r.id}]]){
							flag = true;
						}else{
							flag = false;
						}
					}
				});
				return flag;
			}
		});
		
		if(type == 1){
			$("#checkAllUserRole").click(function(){
				var checked = $(this).prop("checked");
				$("#userQuery").prop("checked",checked);
				$("#userInsert").prop("checked",checked);
				$("#userUpdate").prop("checked",checked);
				$("#userDelete").prop("checked",checked);
			});
			$("#checkAllRoleRole").click(function(){
				var checked = $(this).prop("checked");
				$("#roleQuery").prop("checked",checked);
				$("#roleInsert").prop("checked",checked);
				$("#roleUpdate").prop("checked",checked);
				$("#roleDelete").prop("checked",checked);
			});
			
			$("#checkAllProjectRole").click(function(){
				var checked = $(this).prop("checked");
				$("#projectQuery").prop("checked",checked);
				$("#projectInsert").prop("checked",checked);
				$("#projectUpdate").prop("checked",checked);
				$("#projectDelete").prop("checked",checked);
				
				$("#projectFileQuery").prop("checked",checked);
				$("#projectFileUpload").prop("checked",checked);
				$("#projectFileDownload").prop("checked",checked);
				$("#projectFileDelete").prop("checked",checked);
			});
			
			$("#checkAllUpgradRole").click(function(){
				var checked = $(this).prop("checked");
				$("#upgradQuery").prop("checked",checked);
				$("#upgradInsert").prop("checked",checked);
				$("#upgradUpdate").prop("checked",checked);
				$("#upgradDelete").prop("checked",checked);
			});
			
			$("#checkAllLogRole").click(function(){
				var checked = $(this).prop("checked");
				$("#logQuery").prop("checked",checked);
			});
		}
	</script>
</body>
</html>